/* Palette URL: http://paletton.com/#uid=7142d0ku6vKdUKxm4-2yfnGHZfV */

/* VARS */

/* As hex codes */

$color-primary-0= #FDB80F;  /* Main Primary color */
$color-primary-1= #FFDF90;
$color-primary-2= #FFCC4F;
$color-primary-3= #BD8600;
$color-primary-4= #7F5A00;

$color-secondary-1-0= #099A94;  /* Main Secondary color (1) */
$color-secondary-1-1= #73CBC8;
$color-secondary-1-2= #34A8A3;
$color-secondary-1-3= #00736E;
$color-secondary-1-4= #004D4A;

$color-secondary-2-0= #FD790F;  /* Main Secondary color (2) */
$color-secondary-2-1= #FFC190;
$color-secondary-2-2= #FF9D4F;
$color-secondary-2-3= #BD5400;
$color-secondary-2-4= #7F3800;

$color-complement-0= #1F35AD; /* Main Complement color */
$color-complement-1= #8591D6;
$color-complement-2= #495BB9;
$color-complement-3= #0F2181;
$color-complement-4= #071357;



/* As RGBa codes */

$rgba-primary-0= rgba(253,184, 15,1); /* Main Primary color */
$rgba-primary-1= rgba(255,223,144,1);
$rgba-primary-2= rgba(255,204, 79,1);
$rgba-primary-3= rgba(189,134,  0,1);
$rgba-primary-4= rgba(127, 90,  0,1);

$rgba-secondary-1-0= rgba(  9,154,148,1); /* Main Secondary color (1) */
$rgba-secondary-1-1= rgba(115,203,200,1);
$rgba-secondary-1-2= rgba( 52,168,163,1);
$rgba-secondary-1-3= rgba(  0,115,110,1);
$rgba-secondary-1-4= rgba(  0, 77, 74,1);

$rgba-secondary-2-0= rgba(253,121, 15,1); /* Main Secondary color (2) */
$rgba-secondary-2-1= rgba(255,193,144,1);
$rgba-secondary-2-2= rgba(255,157, 79,1);
$rgba-secondary-2-3= rgba(189, 84,  0,1);
$rgba-secondary-2-4= rgba(127, 56,  0,1);

$rgba-complement-0= rgba( 31, 53,173,1);  /* Main Complement color */
$rgba-complement-1= rgba(133,145,214,1);
$rgba-complement-2= rgba( 73, 91,185,1);
$rgba-complement-3= rgba( 15, 33,129,1);
$rgba-complement-4= rgba(  7, 19, 87,1);