// This is where all of the global changes live

*
  font-family: 'Lato', sans-serif;

// Special overrides for bootstrap

/*
  @media (min-width 1200px)
    [class*="span"]
      margin-left 0px
*/

.footer
  border-top 0px

img.logo--v1
  height 50px


// Special overrides for web2py

.footer-content
  bottom 0px